.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-content: flex-start;
}

.title {
    padding-top: 106px;
    margin-bottom: 20px;
    color: rgb(33, 33, 33);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 14px;
        gap: 14px;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .title {
        font-size: 36px;
    }
}

@media screen and (min-width: 1440px) {
    .list {
        row-gap: 40px;
        column-gap: 20px;
    }
}
