.input {
    outline: 1px solid #212121;
    border: 1px solid transparent;
    padding: 8px 8px 8px 10px;
    color: #212121;
    border-radius: 30px;
    width: 100%;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.input:focus-visible {
    outline-color: #2196f3;
}
