.backLink {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgb(33, 33, 33);
    padding-top: 90px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    width: 200px;
}

.backLink:hover,
.backLink:focus {
    color: #188ce8;

    cursor: pointer;
}

.container {
    display: flex;
    gap: 60px;
    margin-top: 12px;
}

.titleMovie {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(33, 33, 33);
}

.titleAuthor {
    margin-top: 0px;
    margin-bottom: 0px;
}

.listGenres {
    margin-right: 20px;
}
.titleGenres {
    margin-bottom: 0px;
}

.movieOverview {
    margin-top: 5px;
    margin-bottom: 0px;
}

.userScore {
    font-weight: 700;
}

.link {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(33, 33, 33);
    text-align: center;
}

.link:hover,
.link:focus {
    color: #188ce8;
}

.color {
    color: rgb(33, 33, 33);
}
