.button {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff;

    background-color: rgb(33, 150, 243);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: inline-block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.06em;
    margin: 8px 16px 8px;
}

.button:hover,
.button:focus {
    color: #fff;
    background-color: #188ce8;
    cursor: pointer;
}

.buttonAdd {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff;

    background-color: rgb(33, 150, 243);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: inline-block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.06em;
    margin: 8px 16px 8px;
}

.buttonAdd:hover,
.buttonAdd:focus {
    color: #fff;
    background-color: #188ce8;
    cursor: pointer;
}

.listBookStyle {
    color: black;
    font-size: 18px;
    background-color: #fff;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

    border-radius: 12px;
}

.container {
    padding: 16px;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 295px;
    height: 232px;
    border-radius: 12px;
    border: 1px solid rgba(246, 246, 246, 0.3);
    background: lightgray;
}

@media screen and (min-width: 768px) {
    .img {
        width: 313px;
        height: 250px;
    }
}

.titleBook {
    color: rgb(33, 33, 33);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.18;
    text-align: center;
    text-decoration: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

.authorBook {
    color: rgb(117, 117, 117);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.18;
    text-align: center;
    text-decoration: none;
}

.priceBook {
    color: rgb(33, 33, 33);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.listBookStyle:hover,
.listBookStyle:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
